sparse {
    letter-spacing: 0.3em;
}

grey {
    background-color: lightgrey;
}

yell {
    background-color: yellow;
}

cyann {
    background-color: cyan;
}

h1 {
    font-size: 4vw;
    text-align: center;
    color: blue;
}

smol {
    font-size: 2.5vw;
}

big {
    font-size: 3vw;
}

bigger {
    font-size: 4vw;
}

biggest {
    font-size: 5vw;
}
.blue{
    color: blue;
    font-weight: bold;
}
.b{
    font-weight: bold;    
}
.u{
    text-decoration: underline;
}
.bc{
    background-color: cyan;
}
.bp{
    background-color: pink;
}
.by{
    background-color: yellow;
}
.ac{
    text-align: center;
}
.ar{
    text-align: right;
}